<!DOCTYPE html>
<html>

<head>
	<title>Conocenos</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

	<div class="main-content">
		{{>header}}
		<h4>Este sitio usa datos de WheaterStack<h4>
				<img src="/img/avatar.png" class="portrait">
	</div>
	{{>footer}}

</body>

</html>