<!DOCTYPE html>
<html>

<head>
	<title>Clima</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
	<lin </head>

<body>
	<div class="main-content">
		<img src="/img/clima.png" class="small">
		{{>header}}

		<p>Use este sitio para consultar el clima</p>

		<form>
			<input class="form-control " placeholder="Ubicación">
			<button>Buscar</button>
		</form>

		<p id="m1"></p>

		<p id="m2"></p>
	</div>
	{{>footer}}
	<script src="/js/app.js"></script>
</body>

</html>